[req]
default_bits = 2048
distinguished_name = req_distinguished_name
req_extensions = v3_req
prompt = no

[req_distinguished_name]
C = CN
ST = SH
L = SH
O = localhost
OU = localhost
CN = localhost

[v3_req]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 0.0.0.0
IP.2 = 127.0.0.1
IP.3 = 172.16.1.99
IP.4 = 172.16.1.100
IP.5 = 172.16.1.101
IP.6 = 172.16.1.102
IP.7 = 172.16.1.103
IP.8 = 172.16.1.104
IP.9 = 172.16.1.105
IP.10 = 172.16.1.106
IP.11 = 172.16.1.107
IP.12 = 172.16.1.108
